rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    match /sessions/{date} {
      allow read: if true;
      allow write: if true;
    }

    match /meta/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
